/* .btn,.btn:hover{
    background: linear-gradient(skyblue, white,rgb(106,106,204));
    color: red !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    font-size: larger;
} */